@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Playfair+Display:wght@900&display=swap');

* { /* resets */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html { 
  background-image: url("../images/index-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #666666;
  height: 100%;
  width: 100vw;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.container {
  margin: 0 auto;
  max-width: 1100px;
}

a { text-decoration: none; }

/********* MAIN *********/
main {
  margin-top: 25em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "heading explore"
    "paragraph explore";
}
.heading {
  grid-area: heading;
  font-family: 'Playfair Display', serif;
}
.paragraph {
  grid-area: paragraph;
  margin-top: 0.5em;
  line-height: 1.75em;
}
.explore {
  grid-area: explore;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.emphasis { color: #FFC107; }

.btn {
  padding: 25px 45px;
  border-radius: 10px;
  font-weight: 700;
  color: black;
  background-color: #FFC107;
}
a:hover.btn { color: white; }