.menu a.is-current {
  color: #FFC107;
}

.menu {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}



/********* NAV *********/

.logo {
  height: 50px;
  width: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

nav li { margin-left: 65px; }
.nav-start { margin-left: 0px; }
nav li a:visited, nav li, a:link { color: white; }
nav li a:hover, nav li a:active, nav ul, .emphasis { color: #FFC107; }