@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@900&display=swap');

/* { border: 1px solid hotpink; }*/

* { /* resets */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html { 
  background-image: url("../images/index-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #666666;
  height: 100%;
}

body {
  width: 100vw;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
}

/********* HEADER (NAV) *********/
.logo {
  height: 50px;
  width: auto;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}

nav a { text-decoration: none; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: 700;
}

nav li { margin: 0px 0px 0px 65px; }

nav li a:visited, nav li { color: white; }
nav li a:hover, nav li a:active, nav ul { color: #FFC107; }
a:link {
  color: white;
}

main {
  margin-top: 25em;
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "heading explore"
    "paragraph explore";
}

.heading {
  grid-area: heading;
  font-family: 'Playfair Display', serif;
}
.paragraph {
  grid-area: paragraph;
  margin-top: 0.5em;
  line-height: 1.7em;
}
.explore {
  grid-area: explore;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn {
  text-decoration: none;
  padding: 25px 45px;
  border-radius: 10px;
  background-color: #FFC107;
  font-weight: 700;
  color: black;
}

a:hover.btn { color: white; }






















