@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@900&display=swap');

* { border: 1px solid hotpink; }

* { /* resets */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  color: #202020;
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
}

/********* HEADER (NAV) *********/
.logo { width: 5%; }


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}

nav a { text-decoration: none; }

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li { margin: 0px 0px 0px 65px; }

main {
  margin-top: 25em;
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "heading explore"
    "paragraph explore";
}

.heading {
  grid-area: heading;
  font-family: 'Playfair Display', serif;
}
.paragraph {
  grid-area: paragraph;
  margin-top: 0.5em;
  line-height: 1.7em;
}
.explore {
  grid-area: explore;
  text-align: right;
  padding-top: 3em;
}

.btn {
  text-decoration: none;
  padding: 25px 45px;
  border-radius: 10px;
}























