@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Playfair+Display:wght@900&display=swap');

* { /* resets */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html { 
  height: 100%;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.75em;
}
.container {
  margin: 0 auto;
  max-width: 1100px;
}

a { text-decoration: none; }

.is-current { color: #FFC107 !important; }

/********* NAV *********/
.logo {
  height: 50px;
  width: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 700;
}
nav li { margin-left: 65px; }
.nav-start { margin-left: 0px; }
nav li a:visited, nav li, a:link { color: black; }
nav li a:hover, nav li a:active, nav ul { color: #FFC107; }


/********* SECTION *********/
main {
  margin-top: 75px;
  padding-bottom: 50px;
}

h1, h2 { font-family: 'Playfair Display', serif; }
h1 { 
  color: #FFC107;
  font-size: 3em;
  margin-top: 100px;
  margin-bottom: 60px;
}
h2 {
  color: #f49355;
  font-size: 1.7em;
}

section {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 2fr 1.2fr;
  grid-column-gap: 30px;
  margin-bottom: 50px;
}
section img { 
  border-radius: 10px;
  justify-self: end;
}

/* Formatting of images */
.restrict {
  max-width: 300px;
  max-height: 300px;

}
.restrict1 {
  width: 300px;
  height: 250px;
}