/* Styling for Sub-pages for Project 02 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Playfair+Display:wght@900&display=swap');

body {
  height: 100%;
  width: 100vw;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
background: rgb(9,9,17);
background: linear-gradient(0deg, rgba(9,9,17,1) 2%, rgba(244,147,85,0.4920343137254902) 50%, rgba(84,160,199,1) 92%, rgba(72,145,185,1) 98%);
line-height: 1.8em;
}

.container {
  margin: 0 auto;
  width: 93%;
  max-width: 1000px;
  display: grid;
}

a { text-decoration: none; }

.box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 4px;
  background-color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  border: 20px #ffffff;
}

/* Formatting for imgages */

.restrict {
  max-width: 300px;
  float: left;
  max-height: 300px;
  border-radius: 8px;
  margin-right: 20px;

}

.restrict1 {
  width: 300px;
  float: left;
  height: 250px;
  border-radius: 8px;
  margin-right: 20px;

}


/*Formatting for Main*/


p {
    overflow: hidden;
    margin-top: 0px;
    padding-bottom: 20px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: #FFC107;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2{ 
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: #54a0c7;
 }

 h3 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #f49355;
 }

 section {
  padding-top: 20px;
 }


