body {
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 255, 255),
    #f0e2ce
  );
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

h1 {
  text-align: center;
  color: white;
  background-color: #000000;
}

h2 {
  font-weight: bold;
  font-style: italic;
  padding: 10px;
  text-shadow: 2px 2px rgb(255, 240, 108);
}

p,
h3 {
  padding: 5px;
}
img {
  border: 2px solid white;
  outline: 4px dashed black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

section {
  padding: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.flow-boxes {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: center;
}

.flow-boxes li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  padding: 20px;
  flex-basis: 500px;
  margin: 15px;
  border: 1px solid black;
  background-color: rgb(199, 199, 199);
}

.flow-boxes li ul li {
  display: block;
  background-color: white;
  border-radius: 0px;
  padding: 0;
  border: none;
  font-style: italic;
}

.info-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 15px;
}

.info-item {
  border-top: 1px solid black;
  padding: 10px;
  margin-top: 5px;
  font-weight: normal;
}
h2 {
  text-align: center;
}

h3 {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline overline;
  text-shadow: 1px 1px #ff6a5c;
}
